---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section class="section pb-0 text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark"
            data-aos="fade-up-sm"
          >
            404
          </span>
          <h1 class="h2 mb-4" data-aos="fade-up-sm" data-aos-delay="100">
            Page not found
          </h1>
          <div class="content" data-aos="fade-up-sm" data-aos-delay="200">
            <p>
              The page you are looking for might have been removed, had its name
              changed, or is temporarily unavailable.
            </p>
          </div>
          <a
            href="/"
            class="btn btn-primary mt-8"
            data-aos="fade-up-sm"
            data-aos-delay="300">Back to home</a
          >
        </div>
      </div>
    </div>
  </section>
</Base>
